#splash-screen {
    animation: fadeOut 1s forwards;
    animation-delay: 3s;
    /* Tempo que a splash screen ficará visível */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Estilos para o modo claro (padrão) */
.input-textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

body {
    background-color: #f3f4f6;
}

/* Estilos para o Dark Mode */
.dark body {
    background-color: #1a202c;
    /* Cor de fundo escura */
}

.dark .bg-gradient-to-br {
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    --tw-gradient-from: #1f2937;
    /* from-gray-900 */
    --tw-gradient-to: #374151;
    /* to-gray-800 */
}

.dark .bg-white\/80 {
    background-color: rgba(31, 41, 55, 0.8);
    /* bg-gray-900/80 */
}

.dark .text-gray-700 {
    color: #d1d5db;
    /* text-gray-200 */
}

.dark .border-gray-200 {
    border-color: #4b5563;
    /* border-gray-600 */
}

.dark .focus\:border-blue-500:focus {
    border-color: #60a5fa;
    /* focus:border-blue-400 */
}

.dark .focus\:ring-blue-100:focus {
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    /* focus:ring-blue-800/50 */
}

.dark .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* dark:shadow-xl */
}

.dark .bg-gray-200 {
    background-color: #374151;
    /* dark:bg-gray-700 */
}

.dark .text-gray-800 {
    color: #e5e7eb;
    /* dark:text-gray-200 */
}

.dark .text-gray-500 {
    color: #9ca3af;
    /* dark:text-gray-400 */
}

.dark .from-blue-500 {
    --tw-gradient-from: #3b82f6;
    /* from-blue-600 */
}

.dark .to-indigo-600 {
    --tw-gradient-to: #4f46e5;
    /* to-indigo-700 */
}

.dark .hover\:from-blue-600:hover {
    --tw-gradient-from: #2563eb;
    /* hover:from-blue-700 */
}

.dark .hover\:to-indigo-700:hover {
    --tw-gradient-to: #4338ca;
    /* hover:to-indigo-800 */
}

.dark .focus\:ring-blue-300\/50:focus {
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    /* focus:ring-blue-700/50 */
}

/* Animação de pulinho para as letras da splash screen */
.animated-letter {
    display: inline-block;
    /* Permite aplicar transformações */
    animation: bounce 0.3s ease-in-out forwards alternate;
    /* Animação de pulinho */
}

/* Atraso para cada letra para criar um efeito de onda */
.animated-letter:nth-child(1) {
    animation-delay: 0.1s;
}

.animated-letter:nth-child(2) {
    animation-delay: 0.2s;
}

.animated-letter:nth-child(3) {
    animation-delay: 0.3s;
}

.animated-letter:nth-child(4) {
    animation-delay: 0.4s;
}

.animated-letter:nth-child(5) {
    animation-delay: 0.5s;
}

/* Para o span de gradiente contendo "Port+" */
.animated-letter:nth-child(6) {
    animation-delay: 0.6s;
}



@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Posição inicial e final */
    }

    50% {
        transform: translateY(-10px);
        /* Posição mais alta do pulo */
    }
}


/* Transições suaves para o dark mode */
body,
header,
main>div,
textarea,
button {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
